body, html {
  height: auto;
}

.main-people-page {
  height: calc(auto - var(--headerHeight));
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  gap: 25px;
  padding: 25px 50px;
  color: var(--textColor);
  font-size: clamp(16px, 1.5vw, 40px);

  /* border: 3px solid red; */
}

.people-photo {
  max-width: 100%;
  object-fit: cover;
  border: 5px solid var(--accentColor);
  border-radius: var(--borderRadius);
}